/*
* miscellaneous
*/

:root {
  --bg: #DDDDDD;
  --primary: #222831;
  --sub-primary: #30475E;
  --acsent: #157ef3;
  --text: #FFFFFF;
  --shadow: #999999;
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, "sans-serif";
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--acsent);
}

::-webkit-scrollbar-button {
  background-color: var(--sub-primary);
}

/*
* Header
*/

header {
  background-color: var(--primary);
}

.header-inner {
  max-width: 1024px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  flex-basis: 20%;
  font-size: 24px;
  color: var(--text);
}

.header-title span {
  color: var(--acsent);
}

nav {
  flex-basis: 80%;
}

nav ul {
  margin-left: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
  list-style: none;
  width: 30%;
  background: var(--sub-primary);
  text-align: center;
}

nav ul li a {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  line-height: 15px;
  font-size: 16px;
  color: var(--text);
  transition: background-color 1s linear, color 0.5s ease;
}

nav ul li a:hover, nav ul li:hover {
  background: var(--acsent);
  color: var(--sub-primary);
  font-weight: bolder;
}

/*
* Main
*/

main {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 1024px;
}

.container-inner {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px var(--shadow);
}

/*
* Default
*/

#default-index {
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--primary);
  border-radius: 10px;
  color: var(--text);
  text-align: center;
}

#default-index h3 {
  margin-bottom: 20px;
}

/*
* Profile
*/

#login-index {
  width: 100%;
  margin: 0 auto;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--primary);
  border-radius: 10px;
  box-shadow: 0 0 2px 2px var(--text);
}

.profile-container .profile-image {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  border-radius: 10px;
}

.profile-container .profile-image img {
  display: block;
  width: 50px;
  margin: 0 auto;
}

.profile-container .profile-username {
  grid-column-start: 2;
  grid-column-end: 4;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--text);
}

.profile-container .profile-username h3 {
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 5px;
}

.profile-container .profile-username p {
  font-size: 12px;
  color: var(--shadow);
}

.profile-container .profile-list {
  grid-column-start: 4;
  grid-column-end: 6;
  width: 100%;
  color: var(--text);
}

.profile-container .profile-list .profile-item {
  width: 100%;
  font-size: 15px;
  line-height: 15px;
  margin-bottom: 8px;
  list-style: none;
}

.profile-container .profile-list .profile-item:last-child {
  margin-bottom: 0;
}

/*
* Post
*/

.post-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--primary);
}

.post-title h3 {
  width: 100%;
  font-size: 24px;
  line-height: 24px;
  color: var(--text);
}

.refresh-btn {
  width: 20%;
  margin: 0;
  padding: 5px;
  background-color: var(--acsent);
  border: none;
  border-radius: 10px;
  color: var(--text);
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.5s ease,
              color 0.5s ease;
}

.refresh-btn:hover {
  background-color: var(--text);
  color: var(--acsent);
}

.post-container {
  width: 100%;
  margin: 0;
  padding: 20px;
  background-color: var(--primary);
  border-radius: 10px;
  box-shadow: 0 0 2px 2px var(--text);
}

.post-container .post-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 15px auto;
  padding: 20px;
  background-color: var(--sub-primary);
  border-radius: 10px;
  box-shadow: 0 0 2px 2px var(--text);
}

.post-container .post-item .post-msg {
  flex-basis: 70%;
  width: 70%;
  font-size: 20px;
  line-height: 18px;
  color: var(--text);
}

.post-container .post-item .post-time {
  flex-basis: 30%;
  width: 30%;
  font-size: 15px;
  line-height: 15px;
  text-align: right;
  color: var(--shadow);
}
